* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

#container{
    border: solid 1px black;
    height: 88em;
    padding: 1% 10% 1% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#color01, #color06{
    background: #1abc9c;
}

#color02, #color07{
    background: #3498db;
}

#color03, #color08{
    background: #9b59b6;
}

#color04, #color09{
    background: #e67e22;
}

#color05{
    background: #e74c3c;
}

section{
    width: 66.6%;
    height: 88em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div{
    width: 46%;
    height: 20em;
}

aside{
    width: 33.3%;
    height: 88em;
}

#color09{
    height: 86em;
}
